<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_d27ebbe033819cf2c6c55f17d45dd74a {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_d27ebbe033819cf2c6c55f17d45dd74a" ></div>
        
</body>
<script>
    
    
            var map_d27ebbe033819cf2c6c55f17d45dd74a = L.map(
                "map_d27ebbe033819cf2c6c55f17d45dd74a",
                {
                    center: [12.9237, 77.4987],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_a85aff2fe12e17852e1a7d6188526c45 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_a85aff2fe12e17852e1a7d6188526c45.addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
            var marker_7052edc5f34b88d14cb75abcffba34e8 = L.marker(
                [12.9237, 77.4987],
                {}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
            var icon_053da18c6cb082d16e3a20b147e7d495 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_7052edc5f34b88d14cb75abcffba34e8.setIcon(icon_053da18c6cb082d16e3a20b147e7d495);
        
    
        var popup_03f9674384568bf8e31f853ea5c220b8 = L.popup({"maxWidth": "100%"});

        
            
                var html_3a10c00dfedfc75f75eb53efcdb34df6 = $(`<div id="html_3a10c00dfedfc75f75eb53efcdb34df6" style="width: 100.0%; height: 100.0%;">Your Location</div>`)[0];
                popup_03f9674384568bf8e31f853ea5c220b8.setContent(html_3a10c00dfedfc75f75eb53efcdb34df6);
            
        

        marker_7052edc5f34b88d14cb75abcffba34e8.bindPopup(popup_03f9674384568bf8e31f853ea5c220b8)
        ;

        
    
    
            var circle_marker_e1162ccce887b7c82b8e4b9d1ad18735 = L.circleMarker(
                [12.922820838174081, 77.50508332168245],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_d1412e3d406cfcce16b2cb714e5d95c8 = L.popup({"maxWidth": "100%"});

        
            
                var html_948be0bd410fd982248b163c8cbafa65 = $(`<div id="html_948be0bd410fd982248b163c8cbafa65" style="width: 100.0%; height: 100.0%;">krishna apartment</div>`)[0];
                popup_d1412e3d406cfcce16b2cb714e5d95c8.setContent(html_948be0bd410fd982248b163c8cbafa65);
            
        

        circle_marker_e1162ccce887b7c82b8e4b9d1ad18735.bindPopup(popup_d1412e3d406cfcce16b2cb714e5d95c8)
        ;

        
    
    
            var circle_marker_79a9e72d42e470c991025479951e5de0 = L.circleMarker(
                [12.914699485828523, 77.499828298489],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_03c7c5de9b322d911284ea9961d956d0 = L.popup({"maxWidth": "100%"});

        
            
                var html_2bf7445003f8436c673210eeb72d463a = $(`<div id="html_2bf7445003f8436c673210eeb72d463a" style="width: 100.0%; height: 100.0%;">Global Meadows Apartment</div>`)[0];
                popup_03c7c5de9b322d911284ea9961d956d0.setContent(html_2bf7445003f8436c673210eeb72d463a);
            
        

        circle_marker_79a9e72d42e470c991025479951e5de0.bindPopup(popup_03c7c5de9b322d911284ea9961d956d0)
        ;

        
    
    
            var circle_marker_a2b957505d0ed9f313ba7db9b798326e = L.circleMarker(
                [13.000170430342969, 77.6245454591405],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_ebefc733d8dd18aeb5bce5fc4f7c64a5 = L.popup({"maxWidth": "100%"});

        
            
                var html_74c7dddd3a818dd2379bd7aff62c5628 = $(`<div id="html_74c7dddd3a818dd2379bd7aff62c5628" style="width: 100.0%; height: 100.0%;">Apartment Banaswadi main road cross hight street RD.</div>`)[0];
                popup_ebefc733d8dd18aeb5bce5fc4f7c64a5.setContent(html_74c7dddd3a818dd2379bd7aff62c5628);
            
        

        circle_marker_a2b957505d0ed9f313ba7db9b798326e.bindPopup(popup_ebefc733d8dd18aeb5bce5fc4f7c64a5)
        ;

        
    
    
            var circle_marker_d79b8096184cb7cdf958844252ec8d38 = L.circleMarker(
                [12.926196, 77.517955],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_da18c6ae7a4716c378c1f7fad785b98e = L.popup({"maxWidth": "100%"});

        
            
                var html_4d9f6428a2a22aacb08424839e39d876 = $(`<div id="html_4d9f6428a2a22aacb08424839e39d876" style="width: 100.0%; height: 100.0%;">Amor Apartment</div>`)[0];
                popup_da18c6ae7a4716c378c1f7fad785b98e.setContent(html_4d9f6428a2a22aacb08424839e39d876);
            
        

        circle_marker_d79b8096184cb7cdf958844252ec8d38.bindPopup(popup_da18c6ae7a4716c378c1f7fad785b98e)
        ;

        
    
    
            var circle_marker_087191144c9f003161655e4317e0cd1f = L.circleMarker(
                [12.979005, 77.64562],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_7185e64a407f3a6550ea49730715db96 = L.popup({"maxWidth": "100%"});

        
            
                var html_132c56a920638af351804f3f6cd95c77 = $(`<div id="html_132c56a920638af351804f3f6cd95c77" style="width: 100.0%; height: 100.0%;">1/747, Rented Apartment</div>`)[0];
                popup_7185e64a407f3a6550ea49730715db96.setContent(html_132c56a920638af351804f3f6cd95c77);
            
        

        circle_marker_087191144c9f003161655e4317e0cd1f.bindPopup(popup_7185e64a407f3a6550ea49730715db96)
        ;

        
    
    
            var circle_marker_28305423806cc434766704967527a718 = L.circleMarker(
                [12.919835, 77.549391],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_193a2cdc5b20346121417d7068c5e740 = L.popup({"maxWidth": "100%"});

        
            
                var html_af0a6e360f1e871b5cd81a16cc34e3f3 = $(`<div id="html_af0a6e360f1e871b5cd81a16cc34e3f3" style="width: 100.0%; height: 100.0%;">Ajantha Apartment</div>`)[0];
                popup_193a2cdc5b20346121417d7068c5e740.setContent(html_af0a6e360f1e871b5cd81a16cc34e3f3);
            
        

        circle_marker_28305423806cc434766704967527a718.bindPopup(popup_193a2cdc5b20346121417d7068c5e740)
        ;

        
    
    
            var circle_marker_276cdf420dcfc431263e9f896e1d34e6 = L.circleMarker(
                [13.039491797892286, 77.55558987238176],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_fd1670283615e24ab67bd8c2dc5beb04 = L.popup({"maxWidth": "100%"});

        
            
                var html_1ee664250485edee098be24e6959d767 = $(`<div id="html_1ee664250485edee098be24e6959d767" style="width: 100.0%; height: 100.0%;">Dwellington Apartment</div>`)[0];
                popup_fd1670283615e24ab67bd8c2dc5beb04.setContent(html_1ee664250485edee098be24e6959d767);
            
        

        circle_marker_276cdf420dcfc431263e9f896e1d34e6.bindPopup(popup_fd1670283615e24ab67bd8c2dc5beb04)
        ;

        
    
    
            var circle_marker_3eb141c0f1421aeff1872f17851ddc18 = L.circleMarker(
                [12.92858981114727, 77.60864496231079],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_12a4b4a932231e9007a4797a883deb1a = L.popup({"maxWidth": "100%"});

        
            
                var html_ecec22007addbd7ef472dcc22f15cf18 = $(`<div id="html_ecec22007addbd7ef472dcc22f15cf18" style="width: 100.0%; height: 100.0%;">Apartment #80</div>`)[0];
                popup_12a4b4a932231e9007a4797a883deb1a.setContent(html_ecec22007addbd7ef472dcc22f15cf18);
            
        

        circle_marker_3eb141c0f1421aeff1872f17851ddc18.bindPopup(popup_12a4b4a932231e9007a4797a883deb1a)
        ;

        
    
    
            var circle_marker_eae59848a96c0f8878fb8664beae269b = L.circleMarker(
                [12.891409079992782, 77.54181236028671],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_0abdbd857ec499cfa35e4e918978e371 = L.popup({"maxWidth": "100%"});

        
            
                var html_ff89b263c28c97f243522fa57e7de53a = $(`<div id="html_ff89b263c28c97f243522fa57e7de53a" style="width: 100.0%; height: 100.0%;">Jains Swadesh Apartment</div>`)[0];
                popup_0abdbd857ec499cfa35e4e918978e371.setContent(html_ff89b263c28c97f243522fa57e7de53a);
            
        

        circle_marker_eae59848a96c0f8878fb8664beae269b.bindPopup(popup_0abdbd857ec499cfa35e4e918978e371)
        ;

        
    
    
            var circle_marker_6b9c67e8410fdda712717b690bd6da03 = L.circleMarker(
                [12.900982, 77.54823],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_aaa3394ec654b6bde97e17b417d86788 = L.popup({"maxWidth": "100%"});

        
            
                var html_410c5318a00affbcf6ebaa85fa1bd577 = $(`<div id="html_410c5318a00affbcf6ebaa85fa1bd577" style="width: 100.0%; height: 100.0%;">Lotus Grand View Apartment</div>`)[0];
                popup_aaa3394ec654b6bde97e17b417d86788.setContent(html_410c5318a00affbcf6ebaa85fa1bd577);
            
        

        circle_marker_6b9c67e8410fdda712717b690bd6da03.bindPopup(popup_aaa3394ec654b6bde97e17b417d86788)
        ;

        
    
    
            var circle_marker_09540e19b0ce8ba342847b7be43cb1c5 = L.circleMarker(
                [12.887495620318381, 77.54148244857788],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_8b3d77a47b48413394f88dff0378a0dd = L.popup({"maxWidth": "100%"});

        
            
                var html_707a7a9d47710eec31dbd1c4c477e9ac = $(`<div id="html_707a7a9d47710eec31dbd1c4c477e9ac" style="width: 100.0%; height: 100.0%;">Tulasi Brindavana Apartment</div>`)[0];
                popup_8b3d77a47b48413394f88dff0378a0dd.setContent(html_707a7a9d47710eec31dbd1c4c477e9ac);
            
        

        circle_marker_09540e19b0ce8ba342847b7be43cb1c5.bindPopup(popup_8b3d77a47b48413394f88dff0378a0dd)
        ;

        
    
    
            var circle_marker_612619f221c86d30ef82150951209464 = L.circleMarker(
                [12.907471, 77.55396],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_7247ac2a8db362fdecb54f0b35194d4d = L.popup({"maxWidth": "100%"});

        
            
                var html_7a738457982f6052be2fe817f9139a88 = $(`<div id="html_7a738457982f6052be2fe817f9139a88" style="width: 100.0%; height: 100.0%;">Siri Chandrodaya Apartment</div>`)[0];
                popup_7247ac2a8db362fdecb54f0b35194d4d.setContent(html_7a738457982f6052be2fe817f9139a88);
            
        

        circle_marker_612619f221c86d30ef82150951209464.bindPopup(popup_7247ac2a8db362fdecb54f0b35194d4d)
        ;

        
    
    
            var circle_marker_334a0a6e6361a288cf645f0a622a9828 = L.circleMarker(
                [12.88241884696207, 77.55741632834416],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_5bfb74a512fac1346f5e6b2230b1790b = L.popup({"maxWidth": "100%"});

        
            
                var html_6279fbddcfc0bca114dfc0640718b3c2 = $(`<div id="html_6279fbddcfc0bca114dfc0640718b3c2" style="width: 100.0%; height: 100.0%;">Peepal Tree Apartment</div>`)[0];
                popup_5bfb74a512fac1346f5e6b2230b1790b.setContent(html_6279fbddcfc0bca114dfc0640718b3c2);
            
        

        circle_marker_334a0a6e6361a288cf645f0a622a9828.bindPopup(popup_5bfb74a512fac1346f5e6b2230b1790b)
        ;

        
    
    
            var circle_marker_28ff40ee8e175efd80a1f7cf25289cdc = L.circleMarker(
                [12.997387, 77.478226],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_d4a88a7d22d19bef8b818973a443355f = L.popup({"maxWidth": "100%"});

        
            
                var html_082b7f1299406141d4c6ab01803b4448 = $(`<div id="html_082b7f1299406141d4c6ab01803b4448" style="width: 100.0%; height: 100.0%;">Mahaveer Fortune Apartment</div>`)[0];
                popup_d4a88a7d22d19bef8b818973a443355f.setContent(html_082b7f1299406141d4c6ab01803b4448);
            
        

        circle_marker_28ff40ee8e175efd80a1f7cf25289cdc.bindPopup(popup_d4a88a7d22d19bef8b818973a443355f)
        ;

        
    
    
            var circle_marker_ee88880719d82e8651e482c003ad06f7 = L.circleMarker(
                [12.898048894027017, 77.57200278879154],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_8f1a2f5714361d5acefbdcca7566716d = L.popup({"maxWidth": "100%"});

        
            
                var html_d03423be54368f9dc96a976134d81577 = $(`<div id="html_d03423be54368f9dc96a976134d81577" style="width: 100.0%; height: 100.0%;">Mahaveer Aspen Apartment</div>`)[0];
                popup_8f1a2f5714361d5acefbdcca7566716d.setContent(html_d03423be54368f9dc96a976134d81577);
            
        

        circle_marker_ee88880719d82e8651e482c003ad06f7.bindPopup(popup_8f1a2f5714361d5acefbdcca7566716d)
        ;

        
    
    
            var circle_marker_b8ffd07a5cfb0ef518734ae4ac1034f4 = L.circleMarker(
                [12.903706, 77.586178],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_5a126cc997c1e897b68a6b0bae5dfeb3 = L.popup({"maxWidth": "100%"});

        
            
                var html_a74bbbaab157400123c9ad5566372951 = $(`<div id="html_a74bbbaab157400123c9ad5566372951" style="width: 100.0%; height: 100.0%;">Alungoor Grove Apartment</div>`)[0];
                popup_5a126cc997c1e897b68a6b0bae5dfeb3.setContent(html_a74bbbaab157400123c9ad5566372951);
            
        

        circle_marker_b8ffd07a5cfb0ef518734ae4ac1034f4.bindPopup(popup_5a126cc997c1e897b68a6b0bae5dfeb3)
        ;

        
    
    
            var circle_marker_69e771d54b0f94be2a7a55c23ff8bd99 = L.circleMarker(
                [12.939475, 77.577575],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_0662808f6d3006e3bb9bca8682c2b0ef = L.popup({"maxWidth": "100%"});

        
            
                var html_1a1b206921a3327a1ffb73cc8c554d20 = $(`<div id="html_1a1b206921a3327a1ffb73cc8c554d20" style="width: 100.0%; height: 100.0%;">Brigade Classic Apartment</div>`)[0];
                popup_0662808f6d3006e3bb9bca8682c2b0ef.setContent(html_1a1b206921a3327a1ffb73cc8c554d20);
            
        

        circle_marker_69e771d54b0f94be2a7a55c23ff8bd99.bindPopup(popup_0662808f6d3006e3bb9bca8682c2b0ef)
        ;

        
    
    
            var circle_marker_04a6d0ea5b18faa3b07fd6884d9505f7 = L.circleMarker(
                [12.916321, 77.579477],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_55d8a06341dbffefd3a1f6158c3e755c = L.popup({"maxWidth": "100%"});

        
            
                var html_8fb08f08b881780f5f4b7bcffa5120f6 = $(`<div id="html_8fb08f08b881780f5f4b7bcffa5120f6" style="width: 100.0%; height: 100.0%;">Sai Siddhi Enclave Apartment</div>`)[0];
                popup_55d8a06341dbffefd3a1f6158c3e755c.setContent(html_8fb08f08b881780f5f4b7bcffa5120f6);
            
        

        circle_marker_04a6d0ea5b18faa3b07fd6884d9505f7.bindPopup(popup_55d8a06341dbffefd3a1f6158c3e755c)
        ;

        
    
    
            var circle_marker_4472f877e3156c60d93501e4fd63f403 = L.circleMarker(
                [12.944708561795219, 77.57607166194363],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_b99c708927e8732bce4d1cfcc417f0b7 = L.popup({"maxWidth": "100%"});

        
            
                var html_9263d1282a65ae9e4de03d68079dfbf5 = $(`<div id="html_9263d1282a65ae9e4de03d68079dfbf5" style="width: 100.0%; height: 100.0%;">Brigade park view apartment b.p wadia road</div>`)[0];
                popup_b99c708927e8732bce4d1cfcc417f0b7.setContent(html_9263d1282a65ae9e4de03d68079dfbf5);
            
        

        circle_marker_4472f877e3156c60d93501e4fd63f403.bindPopup(popup_b99c708927e8732bce4d1cfcc417f0b7)
        ;

        
    
    
            var circle_marker_4533c841cf0cfa4fa8ea09d73adcf61e = L.circleMarker(
                [12.915749, 77.590645],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_a8f40adff29e6b51dbbb156f7d900e2f = L.popup({"maxWidth": "100%"});

        
            
                var html_d8f8bcdc60e30813fa81a1ba0fedf5ea = $(`<div id="html_d8f8bcdc60e30813fa81a1ba0fedf5ea" style="width: 100.0%; height: 100.0%;">Vaatsalya Apartment</div>`)[0];
                popup_a8f40adff29e6b51dbbb156f7d900e2f.setContent(html_d8f8bcdc60e30813fa81a1ba0fedf5ea);
            
        

        circle_marker_4533c841cf0cfa4fa8ea09d73adcf61e.bindPopup(popup_a8f40adff29e6b51dbbb156f7d900e2f)
        ;

        
    
    
            var circle_marker_8bbc65feec9959904eddf02c98faff2b = L.circleMarker(
                [12.896164894104004, 77.58660125732422],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_4967f3d5b4fbc82ebc2386050cde7485 = L.popup({"maxWidth": "100%"});

        
            
                var html_376f7cd9d6f306c4cadbeee66339c4d2 = $(`<div id="html_376f7cd9d6f306c4cadbeee66339c4d2" style="width: 100.0%; height: 100.0%;">Pioneer Paradise Apartment</div>`)[0];
                popup_4967f3d5b4fbc82ebc2386050cde7485.setContent(html_376f7cd9d6f306c4cadbeee66339c4d2);
            
        

        circle_marker_8bbc65feec9959904eddf02c98faff2b.bindPopup(popup_4967f3d5b4fbc82ebc2386050cde7485)
        ;

        
    
    
            var circle_marker_5c58c1a60ae05a5d39c6c70012817995 = L.circleMarker(
                [12.970413, 77.594535],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_4b42299db7d650cc7a5b5b5aa5774a48 = L.popup({"maxWidth": "100%"});

        
            
                var html_e5bcbfdc26916e0c19eb535e587495a7 = $(`<div id="html_e5bcbfdc26916e0c19eb535e587495a7" style="width: 100.0%; height: 100.0%;">Achates Service Apartment - Rachenahalli</div>`)[0];
                popup_4b42299db7d650cc7a5b5b5aa5774a48.setContent(html_e5bcbfdc26916e0c19eb535e587495a7);
            
        

        circle_marker_5c58c1a60ae05a5d39c6c70012817995.bindPopup(popup_4b42299db7d650cc7a5b5b5aa5774a48)
        ;

        
    
    
            var circle_marker_d622a0d56ffbb2d9d6afe0c859ecf738 = L.circleMarker(
                [12.963158, 77.59827],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_926c1e8105accb9c0b5c61f461aeadb6 = L.popup({"maxWidth": "100%"});

        
            
                var html_ddcfd26e87c9dba3369c024329b50729 = $(`<div id="html_ddcfd26e87c9dba3369c024329b50729" style="width: 100.0%; height: 100.0%;">Abode Service Apartment</div>`)[0];
                popup_926c1e8105accb9c0b5c61f461aeadb6.setContent(html_ddcfd26e87c9dba3369c024329b50729);
            
        

        circle_marker_d622a0d56ffbb2d9d6afe0c859ecf738.bindPopup(popup_926c1e8105accb9c0b5c61f461aeadb6)
        ;

        
    
    
            var circle_marker_02f51886e8546a4a02945964ef37a270 = L.circleMarker(
                [13.014054717865344, 77.53829598426819],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_fdbb67facb5598d5f934635e8e14ea0e = L.popup({"maxWidth": "100%"});

        
            
                var html_a2c2a7d13415f100bf9d1344b3e1eb92 = $(`<div id="html_a2c2a7d13415f100bf9d1344b3e1eb92" style="width: 100.0%; height: 100.0%;">MCC Apartment</div>`)[0];
                popup_fdbb67facb5598d5f934635e8e14ea0e.setContent(html_a2c2a7d13415f100bf9d1344b3e1eb92);
            
        

        circle_marker_02f51886e8546a4a02945964ef37a270.bindPopup(popup_fdbb67facb5598d5f934635e8e14ea0e)
        ;

        
    
    
            var circle_marker_bb0360ef105d5067a96a927c0a9fbcf6 = L.circleMarker(
                [12.986066, 77.577666],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_db9bb56fffc0d7a574c2c30f44eb90bd = L.popup({"maxWidth": "100%"});

        
            
                var html_3841da54dbe38ea4efb29c35b008a0fc = $(`<div id="html_3841da54dbe38ea4efb29c35b008a0fc" style="width: 100.0%; height: 100.0%;">Seasons Apartment</div>`)[0];
                popup_db9bb56fffc0d7a574c2c30f44eb90bd.setContent(html_3841da54dbe38ea4efb29c35b008a0fc);
            
        

        circle_marker_bb0360ef105d5067a96a927c0a9fbcf6.bindPopup(popup_db9bb56fffc0d7a574c2c30f44eb90bd)
        ;

        
    
    
            var circle_marker_9ae74bb6165370e9a7bfcf4d720b5ef1 = L.circleMarker(
                [13.007784, 77.554855],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_d20ad436244393e14a6eda1cd43688ba = L.popup({"maxWidth": "100%"});

        
            
                var html_d4e044908411c40192e872106c04f38e = $(`<div id="html_d4e044908411c40192e872106c04f38e" style="width: 100.0%; height: 100.0%;">The Chalet Corporate Apartment</div>`)[0];
                popup_d20ad436244393e14a6eda1cd43688ba.setContent(html_d4e044908411c40192e872106c04f38e);
            
        

        circle_marker_9ae74bb6165370e9a7bfcf4d720b5ef1.bindPopup(popup_d20ad436244393e14a6eda1cd43688ba)
        ;

        
    
    
            var circle_marker_fd0796287c7af1e062da8a02d9306090 = L.circleMarker(
                [12.871551, 77.577399],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_e8d329607386b5785da541b0c579fa63 = L.popup({"maxWidth": "100%"});

        
            
                var html_4a3cf8ca158f43864a091ea1b775b3ba = $(`<div id="html_4a3cf8ca158f43864a091ea1b775b3ba" style="width: 100.0%; height: 100.0%;">Vishwendra Apartment</div>`)[0];
                popup_e8d329607386b5785da541b0c579fa63.setContent(html_4a3cf8ca158f43864a091ea1b775b3ba);
            
        

        circle_marker_fd0796287c7af1e062da8a02d9306090.bindPopup(popup_e8d329607386b5785da541b0c579fa63)
        ;

        
    
    
            var circle_marker_6de8cc4898905c3ff54c153c1a02b953 = L.circleMarker(
                [13.00517729269146, 77.5631425495395],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_d988a926c4a5c6a352f60e0da8cfee00 = L.popup({"maxWidth": "100%"});

        
            
                var html_8ba76ba6e6709dbb3b102fcb5513e9fd = $(`<div id="html_8ba76ba6e6709dbb3b102fcb5513e9fd" style="width: 100.0%; height: 100.0%;">Surya Nest Apartment</div>`)[0];
                popup_d988a926c4a5c6a352f60e0da8cfee00.setContent(html_8ba76ba6e6709dbb3b102fcb5513e9fd);
            
        

        circle_marker_6de8cc4898905c3ff54c153c1a02b953.bindPopup(popup_d988a926c4a5c6a352f60e0da8cfee00)
        ;

        
    
    
            var circle_marker_d6402d1312d6a4ce4a2585f7e218a6db = L.circleMarker(
                [12.97157, 77.594371],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_3ab9aeabe0e608ec09309effaddd628a = L.popup({"maxWidth": "100%"});

        
            
                var html_0c2d59a9534e6970512430c1b9af5939 = $(`<div id="html_0c2d59a9534e6970512430c1b9af5939" style="width: 100.0%; height: 100.0%;">Shobha Opel Apartment</div>`)[0];
                popup_3ab9aeabe0e608ec09309effaddd628a.setContent(html_0c2d59a9534e6970512430c1b9af5939);
            
        

        circle_marker_d6402d1312d6a4ce4a2585f7e218a6db.bindPopup(popup_3ab9aeabe0e608ec09309effaddd628a)
        ;

        
    
    
            var circle_marker_7a8d53aa189ce9a2f8efa96a51f2ede1 = L.circleMarker(
                [13.00848, 77.562412],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_4ed0ed3d065c4c3e639938e80a635aad = L.popup({"maxWidth": "100%"});

        
            
                var html_5dc7b1671581606fd3de19d543a12a7a = $(`<div id="html_5dc7b1671581606fd3de19d543a12a7a" style="width: 100.0%; height: 100.0%;">KT23 Apartment</div>`)[0];
                popup_4ed0ed3d065c4c3e639938e80a635aad.setContent(html_5dc7b1671581606fd3de19d543a12a7a);
            
        

        circle_marker_7a8d53aa189ce9a2f8efa96a51f2ede1.bindPopup(popup_4ed0ed3d065c4c3e639938e80a635aad)
        ;

        
    
    
            var circle_marker_005a781790c9e2a18b1a642144f847dc = L.circleMarker(
                [12.961884, 77.604592],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_d19c06852bbe2ac26009e1e7696c8184 = L.popup({"maxWidth": "100%"});

        
            
                var html_5ced9c743b4f9dd5f5d55d17c5fd7987 = $(`<div id="html_5ced9c743b4f9dd5f5d55d17c5fd7987" style="width: 100.0%; height: 100.0%;">Arambha Apartment</div>`)[0];
                popup_d19c06852bbe2ac26009e1e7696c8184.setContent(html_5ced9c743b4f9dd5f5d55d17c5fd7987);
            
        

        circle_marker_005a781790c9e2a18b1a642144f847dc.bindPopup(popup_d19c06852bbe2ac26009e1e7696c8184)
        ;

        
    
    
            var circle_marker_13b6c8a563b94e7987a9510381c65ded = L.circleMarker(
                [12.886044384291171, 77.6084495223664],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_4f29fb47bbaaf6229cd0d247c91742c1 = L.popup({"maxWidth": "100%"});

        
            
                var html_310803bd68e115fad53a76212625fba7 = $(`<div id="html_310803bd68e115fad53a76212625fba7" style="width: 100.0%; height: 100.0%;">Axis Sinopia Apartment</div>`)[0];
                popup_4f29fb47bbaaf6229cd0d247c91742c1.setContent(html_310803bd68e115fad53a76212625fba7);
            
        

        circle_marker_13b6c8a563b94e7987a9510381c65ded.bindPopup(popup_4f29fb47bbaaf6229cd0d247c91742c1)
        ;

        
    
    
            var circle_marker_1ae5ea28c8ce88ee7856330ffe7fd19b = L.circleMarker(
                [12.9166, 77.6068],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_1e40a56ff9df6c90e75539a98f7cea3a = L.popup({"maxWidth": "100%"});

        
            
                var html_05dca8335bf35900b0bb6799e3db45b7 = $(`<div id="html_05dca8335bf35900b0bb6799e3db45b7" style="width: 100.0%; height: 100.0%;">Canara Bank Apartment</div>`)[0];
                popup_1e40a56ff9df6c90e75539a98f7cea3a.setContent(html_05dca8335bf35900b0bb6799e3db45b7);
            
        

        circle_marker_1ae5ea28c8ce88ee7856330ffe7fd19b.bindPopup(popup_1e40a56ff9df6c90e75539a98f7cea3a)
        ;

        
    
    
            var circle_marker_7674f30495f476f45872979d021deb92 = L.circleMarker(
                [12.876586553372752, 77.59168537357426],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_76e9c2ddea2425b94a65ab7c68b8e67c = L.popup({"maxWidth": "100%"});

        
            
                var html_5c7c3996c86927f316f24196a4366527 = $(`<div id="html_5c7c3996c86927f316f24196a4366527" style="width: 100.0%; height: 100.0%;">windsor four seasons apartment</div>`)[0];
                popup_76e9c2ddea2425b94a65ab7c68b8e67c.setContent(html_5c7c3996c86927f316f24196a4366527);
            
        

        circle_marker_7674f30495f476f45872979d021deb92.bindPopup(popup_76e9c2ddea2425b94a65ab7c68b8e67c)
        ;

        
    
    
            var circle_marker_79676cc2ed471487e08a0eebfa578cb7 = L.circleMarker(
                [12.902859676459217, 77.59976560135556],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_78d97c30a0dd67a74a1a1d06477b8fa0 = L.popup({"maxWidth": "100%"});

        
            
                var html_ac73e565dbab2102965f12c0598d2b64 = $(`<div id="html_ac73e565dbab2102965f12c0598d2b64" style="width: 100.0%; height: 100.0%;">Pride apartment</div>`)[0];
                popup_78d97c30a0dd67a74a1a1d06477b8fa0.setContent(html_ac73e565dbab2102965f12c0598d2b64);
            
        

        circle_marker_79676cc2ed471487e08a0eebfa578cb7.bindPopup(popup_78d97c30a0dd67a74a1a1d06477b8fa0)
        ;

        
    
    
            var circle_marker_f78151af29ab534b9dffc103109d2f79 = L.circleMarker(
                [12.959589, 77.601956],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_8d9e4d7fbccf2fe68212f9f213968a4e = L.popup({"maxWidth": "100%"});

        
            
                var html_4d5a01861e566081bf5457a38af7ae13 = $(`<div id="html_4d5a01861e566081bf5457a38af7ae13" style="width: 100.0%; height: 100.0%;">Sankalp Service Apartment</div>`)[0];
                popup_8d9e4d7fbccf2fe68212f9f213968a4e.setContent(html_4d5a01861e566081bf5457a38af7ae13);
            
        

        circle_marker_f78151af29ab534b9dffc103109d2f79.bindPopup(popup_8d9e4d7fbccf2fe68212f9f213968a4e)
        ;

        
    
    
            var circle_marker_4879decdd2276205525ad034df7c534f = L.circleMarker(
                [12.890692, 77.60402],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_8f55097830b86457adadd238727c3e81 = L.popup({"maxWidth": "100%"});

        
            
                var html_8de31ea5e1bb90b2790eebfc2be3d4d3 = $(`<div id="html_8de31ea5e1bb90b2790eebfc2be3d4d3" style="width: 100.0%; height: 100.0%;">Shreyas Suraksha Apartment</div>`)[0];
                popup_8f55097830b86457adadd238727c3e81.setContent(html_8de31ea5e1bb90b2790eebfc2be3d4d3);
            
        

        circle_marker_4879decdd2276205525ad034df7c534f.bindPopup(popup_8f55097830b86457adadd238727c3e81)
        ;

        
    
    
            var circle_marker_c67f4ee6ea6029f4ab4b6d95646c0f9d = L.circleMarker(
                [12.935918941874489, 77.61995804389971],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_34256d7c5967a57d2117f9b899a887e8 = L.popup({"maxWidth": "100%"});

        
            
                var html_98cc404bd2ceea462e4c2ee7a3c7b25b = $(`<div id="html_98cc404bd2ceea462e4c2ee7a3c7b25b" style="width: 100.0%; height: 100.0%;">Damden Yerra Apartments</div>`)[0];
                popup_34256d7c5967a57d2117f9b899a887e8.setContent(html_98cc404bd2ceea462e4c2ee7a3c7b25b);
            
        

        circle_marker_c67f4ee6ea6029f4ab4b6d95646c0f9d.bindPopup(popup_34256d7c5967a57d2117f9b899a887e8)
        ;

        
    
    
            var circle_marker_e428e7d8423791241ac8207ed922d1d7 = L.circleMarker(
                [12.961506, 77.60275],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_dfdd9317b5935a3a1ac48728a528058a = L.popup({"maxWidth": "100%"});

        
            
                var html_e466e2f695bf1e6347e1bee232c4f498 = $(`<div id="html_e466e2f695bf1e6347e1bee232c4f498" style="width: 100.0%; height: 100.0%;">Belair Service Apartment</div>`)[0];
                popup_dfdd9317b5935a3a1ac48728a528058a.setContent(html_e466e2f695bf1e6347e1bee232c4f498);
            
        

        circle_marker_e428e7d8423791241ac8207ed922d1d7.bindPopup(popup_dfdd9317b5935a3a1ac48728a528058a)
        ;

        
    
    
            var circle_marker_6c7fb81f5a18ad0390098f7bc4bd09b8 = L.circleMarker(
                [12.870767138690113, 77.61294229367459],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_85d96c944cc573526dedd2691aa3a8e5 = L.popup({"maxWidth": "100%"});

        
            
                var html_8f9c01f2b2d4fe817e5f65599617aaab = $(`<div id="html_8f9c01f2b2d4fe817e5f65599617aaab" style="width: 100.0%; height: 100.0%;">Apsara Gold Apartment</div>`)[0];
                popup_85d96c944cc573526dedd2691aa3a8e5.setContent(html_8f9c01f2b2d4fe817e5f65599617aaab);
            
        

        circle_marker_6c7fb81f5a18ad0390098f7bc4bd09b8.bindPopup(popup_85d96c944cc573526dedd2691aa3a8e5)
        ;

        
    
    
            var circle_marker_d3b7027400ed0c6c6f9b82661e88d905 = L.circleMarker(
                [12.967927, 77.600622],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_68e824dbdf45cac8036c6f4f533a65e9 = L.popup({"maxWidth": "100%"});

        
            
                var html_fbe894c40ca5dad483f8d03d4852a8ab = $(`<div id="html_fbe894c40ca5dad483f8d03d4852a8ab" style="width: 100.0%; height: 100.0%;">Melrose Serviced Apartment - Residency Road</div>`)[0];
                popup_68e824dbdf45cac8036c6f4f533a65e9.setContent(html_fbe894c40ca5dad483f8d03d4852a8ab);
            
        

        circle_marker_d3b7027400ed0c6c6f9b82661e88d905.bindPopup(popup_68e824dbdf45cac8036c6f4f533a65e9)
        ;

        
    
    
            var circle_marker_2580d40aa344e996d6b3454d5073b3d2 = L.circleMarker(
                [12.923312921088696, 77.60970281656076],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_b6307fc46a84f6137a15b50dbc41d274 = L.popup({"maxWidth": "100%"});

        
            
                var html_e931c1c2c635c51b96590f2d594289e6 = $(`<div id="html_e931c1c2c635c51b96590f2d594289e6" style="width: 100.0%; height: 100.0%;">Kutti Apartment</div>`)[0];
                popup_b6307fc46a84f6137a15b50dbc41d274.setContent(html_e931c1c2c635c51b96590f2d594289e6);
            
        

        circle_marker_2580d40aa344e996d6b3454d5073b3d2.bindPopup(popup_b6307fc46a84f6137a15b50dbc41d274)
        ;

        
    
    
            var circle_marker_007535f431173bbd8ca56b14a81070a9 = L.circleMarker(
                [12.967026, 77.60256],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_7aee34b5f337c094550592d7fb0a7fbb = L.popup({"maxWidth": "100%"});

        
            
                var html_6634bea978f4a00cc9b50e88bc42c4b4 = $(`<div id="html_6634bea978f4a00cc9b50e88bc42c4b4" style="width: 100.0%; height: 100.0%;">Classic Richmond A Service Apartment</div>`)[0];
                popup_7aee34b5f337c094550592d7fb0a7fbb.setContent(html_6634bea978f4a00cc9b50e88bc42c4b4);
            
        

        circle_marker_007535f431173bbd8ca56b14a81070a9.bindPopup(popup_7aee34b5f337c094550592d7fb0a7fbb)
        ;

        
    
    
            var circle_marker_9d67217d4f41ed871009960ce7929bf7 = L.circleMarker(
                [12.957769, 77.605968],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_46c308a348bef5fd7baf0c634b8ac787 = L.popup({"maxWidth": "100%"});

        
            
                var html_d8c4e434b1e543cf5f0d01ff3f5d5428 = $(`<div id="html_d8c4e434b1e543cf5f0d01ff3f5d5428" style="width: 100.0%; height: 100.0%;">silver manor apartment</div>`)[0];
                popup_46c308a348bef5fd7baf0c634b8ac787.setContent(html_d8c4e434b1e543cf5f0d01ff3f5d5428);
            
        

        circle_marker_9d67217d4f41ed871009960ce7929bf7.bindPopup(popup_46c308a348bef5fd7baf0c634b8ac787)
        ;

        
    
    
            var circle_marker_f256365eb54c1be46c6cb7dfae9c5c56 = L.circleMarker(
                [12.949301832045599, 77.60185830841759],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_bdaa36e5929844abdfa53e53447ebc82 = L.popup({"maxWidth": "100%"});

        
            
                var html_97c9b3c3d7c7f8cddd071f5cca197807 = $(`<div id="html_97c9b3c3d7c7f8cddd071f5cca197807" style="width: 100.0%; height: 100.0%;">Wilson Vintage Apartment</div>`)[0];
                popup_bdaa36e5929844abdfa53e53447ebc82.setContent(html_97c9b3c3d7c7f8cddd071f5cca197807);
            
        

        circle_marker_f256365eb54c1be46c6cb7dfae9c5c56.bindPopup(popup_bdaa36e5929844abdfa53e53447ebc82)
        ;

        
    
    
            var circle_marker_a80e372dc540bcf9fb7359b587ac0f36 = L.circleMarker(
                [12.92282, 77.611314],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_4d4a0e1e801de2a3b0df3c3204a5a8e4 = L.popup({"maxWidth": "100%"});

        
            
                var html_057d172e9a5a219e4ed95057089be106 = $(`<div id="html_057d172e9a5a219e4ed95057089be106" style="width: 100.0%; height: 100.0%;">Cloud 9 Apartment</div>`)[0];
                popup_4d4a0e1e801de2a3b0df3c3204a5a8e4.setContent(html_057d172e9a5a219e4ed95057089be106);
            
        

        circle_marker_a80e372dc540bcf9fb7359b587ac0f36.bindPopup(popup_4d4a0e1e801de2a3b0df3c3204a5a8e4)
        ;

        
    
    
            var circle_marker_178a5938b2c19c272d0a982ea3e0e95f = L.circleMarker(
                [12.88192477215797, 77.61036862343283],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_8282d1b0c1c37a53e5f77f2404ba6a3e = L.popup({"maxWidth": "100%"});

        
            
                var html_81c248eee2256349db3bf39fb7658e1f = $(`<div id="html_81c248eee2256349db3bf39fb7658e1f" style="width: 100.0%; height: 100.0%;">Rashi Pride Apartment</div>`)[0];
                popup_8282d1b0c1c37a53e5f77f2404ba6a3e.setContent(html_81c248eee2256349db3bf39fb7658e1f);
            
        

        circle_marker_178a5938b2c19c272d0a982ea3e0e95f.bindPopup(popup_8282d1b0c1c37a53e5f77f2404ba6a3e)
        ;

        
    
    
            var circle_marker_0181206fcc3d9c171a14132bc5b8d749 = L.circleMarker(
                [12.997086567385685, 77.53471272929279],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_cb9875f443ebcacec415bffec99b1f62 = L.popup({"maxWidth": "100%"});

        
            
                var html_8e83aa87e3f55a47cf677a1d74748a9f = $(`<div id="html_8e83aa87e3f55a47cf677a1d74748a9f" style="width: 100.0%; height: 100.0%;">Navami Apartment</div>`)[0];
                popup_cb9875f443ebcacec415bffec99b1f62.setContent(html_8e83aa87e3f55a47cf677a1d74748a9f);
            
        

        circle_marker_0181206fcc3d9c171a14132bc5b8d749.bindPopup(popup_cb9875f443ebcacec415bffec99b1f62)
        ;

        
    
    
            var circle_marker_e11566d99040b3e373f8aef5323f01a3 = L.circleMarker(
                [12.970312226114215, 77.59699018666659],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_2078c503d2ad7e23ad4175ea170fe769 = L.popup({"maxWidth": "100%"});

        
            
                var html_da6f73d6f162358d1f147a343a3565e0 = $(`<div id="html_da6f73d6f162358d1f147a343a3565e0" style="width: 100.0%; height: 100.0%;">Garden Apartment</div>`)[0];
                popup_2078c503d2ad7e23ad4175ea170fe769.setContent(html_da6f73d6f162358d1f147a343a3565e0);
            
        

        circle_marker_e11566d99040b3e373f8aef5323f01a3.bindPopup(popup_2078c503d2ad7e23ad4175ea170fe769)
        ;

        
    
    
            var circle_marker_ae43b148817ebfea25e170cc83198230 = L.circleMarker(
                [12.855566, 77.590423],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_d27ebbe033819cf2c6c55f17d45dd74a);
        
    
        var popup_c727bb205eff88dbb4a3e47d02bc89c6 = L.popup({"maxWidth": "100%"});

        
            
                var html_80afa2878102ba225d3e7f542f9410ad = $(`<div id="html_80afa2878102ba225d3e7f542f9410ad" style="width: 100.0%; height: 100.0%;">Babji Raj Apartment</div>`)[0];
                popup_c727bb205eff88dbb4a3e47d02bc89c6.setContent(html_80afa2878102ba225d3e7f542f9410ad);
            
        

        circle_marker_ae43b148817ebfea25e170cc83198230.bindPopup(popup_c727bb205eff88dbb4a3e47d02bc89c6)
        ;

        
    
</script>
</html>